@charset "utf-8";
*{
	margin:0;
	padding:0;
}
#mainbox {
	height: auto;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#mainbox #logo {
	height: 150px;
	width: 1300px;
	clear: both;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#mainbox #logo #logo1 {
	float: left;
	height: 150px;
	width: 20%;
}
#mainbox #logo #logo2 {
	float: left;
	height: 130px;
	width: 15%;
	margin-top: 20px;
}
#mainbox #logo #logoso {
	float: left;
	height: 105px;
	width: 35%;
	margin-top: 45px;
}
#mainbox #logo #logoso #sos1 {
	float: left;
	height: 20px;
	width: 400px;
	color: #666;
	font-size: 12px;
	margin-left: 20px;
}
#mainbox #logo #logoso table tr td .anniu {
	width: 60px;
	background-color: #140001;
	height: 33px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	color: #FFF;
	font-weight: bold;
	cursor: pointer;
	padding: 0px;
	margin-bottom: 3px;
}
#mainbox #logo #denglu {
	float: right;
	height: 110px;
	width: 30%;
	text-align: right;
	padding-top: 30px;
}
#mainbox #daohangtiao {
	background-color: #000;
	clear: both;
	height: 50px;
	width: 100%;
	color: #FFF;
	font-size: 21px;
	font-weight: bolder;
	line-height: 50px;
}
#mainbox #daohangtiao #daohangtiao1 {
	clear: both;
	width: 1200px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#mainbox #daohangtiao table tr td a {
	color: #FFF;
	text-decoration: none;
}
#mainbox #daohangtiao table tr td a:hover {
	color: #F00;
}
#mainbox #huantu {
	height: 450px;
	width: 1300px;
	clear: both;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#mainbox #huantu #tp1 {
	height: 450px;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	clear: both;
}
#mainbox #zhuanqu {
	clear: both;
	height: 190px;
	width: 1300px;
	background-color: #F0F0F0;
	padding-top: 10px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#mainbox #shangping {
	clear: both;
	height: auto;
	width: 100%;
	min-width: 1200px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#mainbox #shangping #bjth {
	width: 100%;
	float: left;
	height: 50px;
	text-align: center;
	font-size: 24px;
	line-height: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
	background-image: url(../images/bjth3.jpg);
	background-repeat: repeat-x;
	color: #FFF;
}
#mainbox #shangping #bjbg {
	width: 80%;
	clear: both;
	background-image: url(../images/n1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#mainbox #shangping #bjbg table tr td {
	text-align: center;
}
#mainbox #shangping #rqdp {
	width: 100%;
	float: left;
	height: 50px;
	background-color: #CCC;
	text-align: center;
	font-size: 24px;
	line-height: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
	background-image: url(../images/bjth3.jpg);
	background-repeat: repeat-x;
	color: #FFF;
}
#mainbox #shangping #rqbg {
	width: 80%;
	margin-bottom: 50px;
	clear: both;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/n1.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
#mainbox #shangping #rqbg table tr td {
	text-align: center;
}
#mainbox #lower {
	width: 100%;
	min-width: 1200px;
	clear: both;
	height: 100px;
	font-size: 14px;
	padding-top: 50px;
}

#mainbox #lower #gy {
	width: 500px;
	height: 40px;
	float: left;
	padding-left: 250px;
	padding-right: 250px;
}
#mainbox #lower #bq {
	height: 20px;
	width: 1000px;
	float: left;
	text-align: center;
}
#mainbox #lower #gy table tr td {
	text-align: center;
}
#mainbox #lower #gy table tr .a {
	border-right-width: 1px;
	border-right-color: #000;
}
#mainbox #banquan {
	background-color: #000;
	clear: none;
	height: 150px;
	width: 100%;
	min-width: 1200px;
	background-repeat: repeat-x;
	float: left;
	padding-top: 25px;
}
